<ul id="footer_links">
	<li><%= link_to_unless_current "About TravellerBooks", :controller => 'main', :action => 'about' %></li>
	<li><%= link_to_unless_current "Frequently Asked Questions", :controller => 'main', :action => 'faq' %></li>
	<li><%= link_to_unless_current "Privacy Policy", :controller => 'main', :action => 'privacy' %></li>
	<li class="last_item"><%= link_to_unless_current "Site Map", :controller => 'main', :action => 'site_map' %></li>
</ul>