<%= error_messages_for 'person' %>

<!--[form:person]-->

<p><label for="person_first_name">First name</label><br/>
<%= text_field 'person', 'first_name'  %></p>

<p><label for="person_middle_name">Middle name</label><br/>
<%= text_field 'person', 'middle_name'  %></p>

<p><label for="person_last_name">Last name</label><br/>
<%= text_field 'person', 'last_name'  %></p>

<!--[eoform:person]-->

