<div id="loginbox">
	<% form_for :person, @person, :url => {:controller => 'user', :action => 'login'} do |f| %>
	<label for="person_login">Email:</label>
	<%= f.text_field :login, {:size => '11', :class => "txinput"} %>
	<label for="person_password">Password:</label>
	<%= f.password_field :password, {:size => '11', :class => "txinput"} %>
	<%= submit_tag 'Login', {:id => 'lgnbut'} %>
	<% end -%>
</div>