<ul>
	<li><%= link_to "Home", :controller => 'user', :action => 'home' %></li>
	<li><%= link_to "Search", :controller => 'track', :action => 'search' %></li>
	<li><%= link_to "Shop", :controller => 'shop', :action => 'store' %></li>
</ul>