<h1>About TravelerBooks.com</h1>

<h3>What is this all about?</h3>
<p>TravelerBooks was created to allow you to give someone a gift - a gift that is meant to be given again and again - and watch that gift continue to travel from person to person around the world. </p>

<p>These books are meant to be informal travel journals that you can bring with you on your trips and give to someone either when you're on the road or when you come back.</p>

<p>When you have a TravellerBook, put something of yourself into it, and pass it on to a friend. They will pass it on to their friend who will pass it on to a friend and so on. You can track the book's progress as it travels on this website.</p>
	
<p>When the book is full, send it back to us and we'll send you a replacement TravellerBook for free.</p>