<h1>Frequently Asked Questions</h1>

<ul id="about_list">
	<li><%= link_to "About TravellerBooks", :action => 'about' %></li>
</ul>

<p>Actually, no one has asked any questions yet, because this is a brand new site. So feel free to ask your questions by emailing us at <a href="mailto:info@travellerbook.com">info@travellerbook.com</a>. We're not that busy right now. Really.