<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Welcome to TravellerBook.com</title>
    <style type="text/css" media="screen">
    #main_index {
		margin-top: 0;
		margin-left: 52px;
		margin-bottom: 0;
		background: #fff;
    }
	#main_box {
		top:120px;
		left:50px;
		width:800px;
		height:450px;
		position:absolute;
		background: url('images/logo800.png');
	}
	#tbid {
		position: relative;
		top: 150px;
		left: 350px;
	}
	
    </style>
  </head>
  <body id="main_index">
	<div id="top_nav">
		
	</div>
	<div id="main_box">
		<%= form_tag :controller => "track", :action => "find" %>
			<%= text_field_tag "tbid", "Enter TBook #", {:size => "20"} %>
			<%= submit_tag "Submit", {:id => "fmsub"} %>
		</form>
	</div>
  </body>
</html>
