<h3>This is the login page</h3>
<p>To register a new account, click <%= link_to "here", :action => :join %>.</p>
<%= form_tag %>
<label for="person_login">Login or E-mail</label>
<%= text_field :person, :login %><br>
<label for="person_password">Password</label>
<%= password_field :person, :password %><br>
<%= submit_tag 'Login' %>
<%= end_form_tag %>

