<h1>Privacy Policy</h1>

<p>We'll keep it simple. TravellerBook.com will not sell, give away, or otherwise use your personal data for any purpose other than is necessary to allow you to send and receive messages, view information on maps, and find friends and allow friends to find you. Non personally-identifying information may be sent to Yahoo, Google, and any other mapping services, since we have to in order to get a map from them. This information is covered under those services' privacy policies, which can be found here:
	<ul>
		<li><%= link_to "Yahoo Privacy Policy", "http://info.yahoo.com/privacy/us/yahoo/maps/details.html" %></li>
		<li><%= link_to "Google Privacy Policy", "http://maps.google.com/help/privacy_maps.html" %></li>
	</ul>
</p>
	
