<h1><%= @person.display_name %>'s TravellerBooks</h1>
<%= @map.div %>
<div id="item_list_box">
	<ul id="sflist">
		<li style="font-size: 14pt;font-weight:bold;text-align:center;">Current Items</li>
		<%= render :partial => 'item_short', :collection => @current_items %>
		<li style="font-size: 14pt;font-weight:bold;text-align:center;padding-top: 10px;">Books Given Away</li>
		<%= render :partial => 'item_short', :collection => @old_items %>
	</ul>
</div>