<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Main: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'main' %>
	<%= Mapstraction.header(:yahoo) %>
	<%= @map.to_html %>
</head>
<body id="main">
	<div id="main_stripe">
		<%= render :partial => "main/titlebar" %>
		<div id="linkbar">
			<%= render :partial => "main/toplinks" %>
		</div>
		<p style="color: green"><%= flash[:notice] %></p>
		<div id="cfl">
			<h1><%= @item.name %></h1>
			<div id="book_info">
				<p>
					<img src='/item/image/<%= @item.id -%>' alt='<%= @item.name -%>'>
				</p>
				<ul>
					<li><%= @item.name %></li>
					<li><%= @item.description %></li>
				</ul>
				<%= @message unless @message.nil? %>
			</div>
			<%= @map.div(:width => 458, :height => 458) %>
		</div>
	</div>
	<%= image_tag("rsh.png", {:id => 'rsh'}) %>
</body>
</html>