<!--[form:dst_form]-->

<p><label for="destination_name">Name/Description</label>
	<%= f.text_field 'name' %></p>
	
<p><label for="destination_arrival">Arrival Time</label>
	<%= f.datetime_select 'arrival' %></p>
	
<p><label for="destination_notes">Notes</label>
	<%= f.text_area 'notes', :size => '40x5' %></p>

<!--[eoform:dst_form]-->