<h1>Welcome to TravellerBook.com!</h1>

<p>Thank you for joining TravellerBook.com, a fun way to track the books and gifts you give to your friends.</p>

<p>You can log in to TravellerBook.com by clicking this link: <%= link_to "TravellerBook.com Login Page", :controller => 'user', :action => 'login' %> or by going to <%= link_to "http://www.TravellerBook.com" %>.</p>