<ul id="mailbox_list">
	<li><%= link_to_unless_current "Inbox", :action => 'list' %></li>
	<li><%= link_to_unless_current "Sent Messages", :action => 'sent' %></li>
	<li><%= link_to_unless_current "Compose a message", :action => 'new' %></li>
	<li><%= link_to_unless_current "Post a bulletin", :action => 'post' %></li>
</ul>