<h1><%= @person.display_name %>'s Messages</h1>
<ul id="mailbox_list">
	<li><%= link_to "Inbox", :action => 'list' %></li>
	<li>Sent Messages</li>
</ul>
<div id="message_area">
	<ul id="message_list">
		<%= render :partial => 'message_short', :collection => @messages %>
	</ul>
</div>