<h1>Adding a new TravellerBook</h1>

<div id="book_form">
	<% form_for 'item', @book, :url => {:action => 'create_book'} do |f| %>
		<%= render :partial => 'form', :locals => {:f => f} %>
		<%= f.submit 'Create' %>
	<% end %>
</div>