<h1>Location Admin</h1>
<%= render :partial => 'admin_links' %>
<div id="admloclst">
	<ul id="along_list">
		<p class="spacer">&nbsp;</p>
		<%= render :partial => 'location_small', :collection => @locations, :spacer_template => 'spacer' %>
		<p class="spacer">&nbsp;</p>
	</ul>
</div>
<%= render :partial => 'admin_links' %>