body {
  font-family: Optima, verdana, arial, helvetica, sans-serif;
  margin-top: 0;
  margin-left: 52px;
  margin-bottom: 0;
  background: #394876;
/*	background: #2f4380;*/
/*  background: #633c1f;*/
}
h1, h2, h3 {
	margin-left: 10px;
	margin-right: 10px;
}
p, ol, ul, td {
  font-family: Optima, verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
img {
	border: 0;
}
#main_stripe {
	width: 800px;
	height: 800px;
	background: #ffe7a5;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/* ---------------- Layout styles ----------------*/
#smlogo {
	position: absolute;
	left: 10px;
	top: 3px;
}
#titlebar {
	display: block;
	position:relative;
	top: 20px;
	left: 25px;
	height: 66px;
	width: 756px;
	background: url('/images/topbar2.png');
}
#titlebar a {
	float: left;
	display: block;
	color: #ffe7af;
	text-decoration: none;
	text-align: center;
	text-shadow: #3f2800 3px 3px 2px;
	font-size: 36pt;
	width: 756px;
}
#titlebar strong {
	display: none;
}
#loginbox {
	position: absolute;
	left: 415px;
	color: #ffd;
	display: inline;
}
#loginbox label {
	top: 3px;
	padding-bottom: 3px;
	font-size: 1.3em;
	display: inline;
}
.txinput {
	height: 12px;
}
#lgnbut {
	font-family: Optima, verdana, arial, helvetica, sans-serif;
	height: 18px;
}
#item_info {
	top: 150px;
	left: 300px;
	position: absolute;
}
#rsh {
	position: absolute;
	left: 852px;
	top: 0;
	width: 6px;
	height: 800px;
}
#linkbar {
	position: relative;
	padding: 3px 0;
	top: 35px;
	background: #394876;
/*	background: #2f4380;*/
/*  background: #633c1f;*/
}
#linkbar ul {
	list-style: none;
	text-indent: 0;
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
#linkbar ul li {
	margin-left: 0;
	padding: 3px 15px;
	list-style: none;
	display: inline;
}
#linkbar ul li a {
	display: inline;
	text-decoration: none;
	font-size: 1.3em;
	width: 100%;
	color: #ffd;
}
#cfl {
	padding: 20px;
}
#ulog {
	position: relative;
	display: inline;
	width: 100%;
	left: 280px;
	font-size: 14px;
	color: #ffd;
}
#ulog a {
	font-size: 14px;
	color: #ffd;
}
#person_form label {
	display: block;
	float: left;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}
#top_content {
	float:left;
}

/* --------------------- User pages specific style --------------- */
#user_box {
	position: absolute;
	top: 145px;
	width: 280px;
	
}
#welcome_bar {
	width: 276px;
	padding-left: 4px;
	background: url('/images/rndtopsm.png');
	color: #ffd;
}
#info_box {
	float: left;
	width: 274px;
	height: 203px;
	padding: 2px;
	border: 1px solid #633c1f;
}
#user_photo {
	position: absolute;
	left: 8px;
	top: 32px;
	width: 80px;
	height: 120px;
	z-index: 100;
}
#user_info {
	position: absolute;
	top: 20px;
	left: 38px;
	width: 180px;
}
#user_info ul {
	list-style: none;
}
#edit_list {
	position: absolute;
	top: 164px;
	left: -1px;
	height: 63px;
	width: 281px;
	overflow: auto;
}
#edit_list ul {
	list-style: none;
	position: absolute;
	left: -60px;
	top: -8px;
}
#edit_list ul li {
	float: left;
	padding-left: 10px;
}
#map_box {
	position: absolute;
	top: 145px;
	left: 373px;
	height: 227px;
	width: 458px;
	
}
#map_bar {
	width: 454px;
	padding-left: 4px;
	background: url('/images/rndtopmed.png');
	color: #ffd;
}
#user_map {
/*	position: absolute;
	top: 136px;
	left: 373px; */
	height: 207px;
	width: 456px;
	border: 1px solid #633c1f;
}
#book_box {
	position: absolute;
	top: 392px;
	width: 280px;
	height: 200px;
/*	border: 1px solid #633c1f; */
}
#book_bar {
	width: 276px;
	padding-left: 4px;
	background: url('/images/rndtopsm.png');
	color: #ffd;
}
#book_list {
	overflow: auto;
	top: 0;
	left: 0;
	width: 278px;
	height: 180px;
	border: 1px solid #622c1f;
}
.book_img {
	display: block;
	padding-left: 22px;
}
.book_caption {
	display: block;
	width: 80px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
#blist {
	list-style: none;
}
#blist img {
	border: 0;
}
#blist li {
	padding-bottom: 4px;
	float: left;
}
#friend_box {
	position: absolute;
	top: 392px;
	left: 373px;
	width: 458px;
	height: 200px;
}
#friend_bar {
	width: 454px;
	padding-left: 4px;
	background: url('/images/rndtopmed.png');
	color: #ffd;
}
#friend_list {
	overflow: auto;
	top: 0;
	left: 0;
	width: 456px;
	height: 180px;
	border: 1px solid #633c1f;
}
#friend_map {
	position: absolute;
	top: 186px;
	left: 373px;
	height: 227px;
	width: 458px;
	border: 1px solid #633c1f;
}
.friend_caption {
	width: 80px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #000;
}
#flist {
	list-style: none;
}
#flist img {
	border: 0;
}
#flist li {
	padding-bottom: 4px;
	padding-right: 14px;
	float: left;
}
.sfriend_image {
	float: left;
}
.sfriend_info {
	display: block;
	height: 120px;
}
.sfriend_address {
	position: relative;
	left: 20px;
	width: 240px;
}
#sflist {
	position: absolute;
	left: 20px;
	list-style: none;
}
#sflist img {
	border: 0;
}
#item_map {
	position: absolute;
	top: 186px;
	left: 373px;
	height: 227px;
	width: 458px;
	border: 1px solid #633c1f;
}
.right_rlink {
	position: absolute;
	left: 380px;
	top: 5px;
	text-align: right;
	color: #ffd;
	text-decoration: none;
	font-size: 12px;
}
.right_mlink {
	position: absolute;
	left: 240px;
	top: 5px;
	text-align: right;
	color: #ffd;
	text-decoration: none;
	font-size: 12px;
}
.left_rlink {
	position: absolute;
	left: 205px;
	top: 5px;
	text-align: right;
	color: #ffd;
	text-decoration: none;
	font-size: 12px;
}
#stat_box {
	position: absolute;
	top: 614px;
	width: 759px;
	height: 173px;
}
#stat_bar {
	width: 755px;
	padding-left: 4px;
	background: url('/images/rndtoplg.png');
	color: #ffd;
}
#stat_list {
	overflow: auto;
	top: 0;
	left: 0;
	width: 757px;
	height: 153px;
	border: 1px solid #633c1f;
}
#tb_stats {
	position: absolute;
	top: 23px;
	height: 150px;
	width: 280px;
	overflow: auto;
}
#mileage {
	position: absolute;
	top: 23px;
	left: 300px;
	height: 150px;
	width: 459px;
	overflow: auto;
}
.udl {
	list-style: none;
}
#options_list {
	list-style: none;
}
/******** Profile Form section ***********/
#edit_person p {
	padding-bottom: 10px;
}
.block_list {
	width: 760px;
}
#edit_person label {
	position: absolute;
	text-align: right;
	display: block;
	width: 250px;
}
#edit_person input {
	position: relative;
	left: 260px;
}
#edit_person select {
	position: relative;
	left: 260px;
}
/******** Location Editing **********/
.short_loc {
	float: left;
	width: 240px;
	height: 300px;
	background: #98a1be;
	border: 3px solid #ffe7a5;
}
.short_loc_short {
	float: left;
	width: 240px;
	height: 80px;
	background: #98a1be;
	border: 3px solid #ffe7a5;
}
.short_loc p {
	font-size: 12pt;
}
.short_loc_list {
	list-style: none;
}
#loc_form label {
	position: absolute;
	text-align: right;
 	display: block;
	width: 150px;
}
#loc_form input {
	position: relative;
	left: 160px;
}
#loc_form select {
	position: relative;
	left: 160px;
}
/*********** Photos section ***********/
#photo_editing {
	width: 760px;
}
#photo_listing {
	width: 760px;
}
#photo_list {
	list-style: none;
	position: absolute;
	left: 12px;
	width: 766px;
}
.photo_list_item {
	float: left;
	display: block;
	padding: 6px;
	width: 240px;
	height: 420px;
}
.photo_list_item_short {
	float: left;
	display: block;
	padding: 6px;
	width: 240px;
	height: 80px;
}
.photo_list_item img {
	width: 240px;
}
.photo_caption {
	text-align: center;
}
.prof_edit_links {
	list-style: none;
}
#photo_box {
	position: absolute;
	padding: 0;
	top: 400px;
	left: 300px;
}
#photo_outline {
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	width: 240px;
	height: 360px;
	border: 2px solid red;
	z-index: 10;
}
#photo_block {
	position: absolute;
	left: 0;
	cursor: move;
	z-index: 1;
}
#track {
	width: 200px;
	height: 18px;
	background-image: url('/images/scaler_slider_track.gif');
	background-repeat: repeat-x;
	background-position: center left;
	margin: 4px 0 0 10px;
}
#handle {
	width: 18px;
	height: 18px;
	cursor:move;
}
/************** Item section **************/
#book_info {
	display: block;
	width:280px;
}
#book_info ul {
	list-style: none;
}
#book_info img {
	width: 200px;
}
/************* Message Section **************/
.message_short {
	border: 1px solid black;
	padding: 5px;
}
.message_short a {
	text-decoration: none;
	color: #000;
}
#message_area {
	overflow: auto;
	height: 520px;
}
#message_list {
	list-style: none;
}
.msg_subject {
	font-weight: bold;
}
#message_body pre {
	font-family: Lucida, serif;
}
/************* Tracking section ***************/
.results_list {
	list_style: none;
}
/************** Vacation section **************/
#vacation_list {
	list-style: none;
	width: 290px;
}
#destination_list li {
	cursor: move;
}
#vacation_map {
	position: absolute;
	top: 206px;
	left: 373px;
	height: 227px;
	width: 458px;
	border: 1px solid #633c1f;
}
/************ Admin section **************/
.blink {
	float: left;
	border: 1px solid black;
}
#along_list {
	list-style: none;
}
.abook {
	padding-bottom: 5px;
	height: 50px;
}