html,body {
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
	background: #394876;
}
h1 {
	font-size: 123.1%;
	font-weight: bold;
	margin-bottom: 1em;
}
h3 {
	font-size: 138.5%;
	font-weight: bold;
	margin-bottom: 1em;
}
img {
	border: 0;
	/* http://www.twinhelix.com/css/iepngfix/ */
	behavior: url('/stylesheets/iepngfix.htc');
}
form {
	padding-bottom: 20px;
}
#main_stripe {
/*	position: relative;
	left: -52px;
	width: 800px;
	background: #ffe7a5; */
}
/* #cfl { */
#doc2 {
	position: relative;
	background: #ffe7a5; 
}
#hd {
	padding-top: 1em;
	padding-bottom: .5em;
	margin-bottom: 1em;
	background: #394876;
}
#bd {
	padding-left: 1em;
	padding-right: 1em;
}
#rsh {
	width: 6px;
	z-index: 100;
}
pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}
.fieldWithErrors {
	float: left;
	padding: 2px;
	background-color: red;
}
#ErrorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
div.uploadStatus {
  margin: 5px;
}
div.progressBar {
  margin: 5px;
}
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
.helpicon {
	float: right;
	clear: both;
}
/* ---------------- Layout styles ----------------*/
/***** Flash Box *****/
#float_flash {
	position: absolute;
	z-index: 10000;
	top: 175px;
	left: 300px;
	clear: none;
}
#float_bar {
	position: relative;
	width: 276px;
	padding-left: 1em;
	padding-right: 1em;
	background: url('/images/rndtopyel124.png');
	background-repeat: repeat-x;
}
#float_box {
	position: relative;
	float: left;
	width: 274px;
	padding: 1em;
	background: #fff;
	border: 1px solid #633c1f;
	color: green;
}
#flcl {
	position: relative;
	color: #ffd;
	text-decoration: none;
	top: 3px;
	float: right;
}
/***** Help Box *****/
#help {
	position: absolute;
}
#float_help {
	left: 1em;
	z-index: 10001;
}
#float_help_bar {
	width: 526px;
	padding-left: 1em;
	padding-right: 1em;
	background: url('/images/rndtop124.png');
	background-repeat: repeat-x;
	color: #ffd;
}
#float_help_box {
	width: 524px;
	padding: 1em;
	background: #fff;
	border: 1px solid #633c1f;
}
#help_text {
	position: relative;
}
#hcl {
	position: relative;
	float: right;
	color: #ffd;
	text-decoration: none;
	top: 3px;
}
/***** Title Bar *****/
#smlogo {
	position: absolute;
	left: 2.25em;
	top: .35em;
}
#titlebar {
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
/*	width: 756px; */
	width: 100%;
	height: 5em;
	background: url('/images/topbar2.png');
	background-repeat: no-repeat;
	background-position: center center;
}
#titlebar a {
	float: left;
	display: block;
	color: #ffe7af;
	text-decoration: none;
	text-align: center;
	text-shadow: #3f2800 3px 3px 2px;
	font-size: 364%;
	width: 100%;
/*	width: 756px; */
}
#titlebar strong {
	display: none;
}
/***** Link and Login Bar *****/
.txinput {
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
	font-size: 93%;
	width: 100%;
}
#loginbox {
	position: absolute;
	padding: 1em 1em 0 1em;
	z-index: 10000;
	top: 110px;
	left: 200px;
	clear: none;
	width: 330px;
	border: 1px solid black;
	border-top: none;
	background: #fff;
}
#loginbox label {
	font-size: 131%;
}
#loginbox input {
	position: relative;
	margin-top: .5em;
	top: -1px;
}
.slider {
	position: relative;
}
#openidicon {
	
}
.lgnbut {
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
}
#linkbar {
	padding-top: .5em;
	background: #394876;
}
#linkbar ul {
	list-style: none;
	text-indent: 0;
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
#linkbar ul li {
	margin-left: 0;
	padding: 3px 15px;
	list-style: none;
	display: inline;
}
#linkbar ul li a {
	display: inline;
	text-decoration: none;
	font-size: 131%;
	width: 100%;
	color: #ffd;
}
#smlink {
	font-size: 108%;
}
#ulog {
	display: inline;
	font-size: 108%;
	color: #ffd;
}
.imgaligned {
	padding-left: 1em;
/*	position: relative; */
	top: -.25em;
}
/***** FOOTER *****/
#ft {
	margin-top: 1em;
	padding-bottom: 1em;
}
#footer {
	width: 100%;
	text-align: center;
}
#footer_links {
	list-style: none;
	display: block;
	padding-bottom: 1em;
}
#footer_links li {
	float: left;
	width: 180px;
	padding-right: 5px;
	padding-left: 5px;
} 

/***** JOIN PAGE *****/
#person_form label {
	display: block;
	float: left;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}
/******** Profile Form section ***********/
#profile_box {
	min-height: 300px;
}
#edit_person p {
	padding-bottom: 10px;
}
.block_list {
	width: 760px;
}
#edit_person label {
	position: absolute;
	text-align: right;
	display: block;
	width: 250px;
}
#edit_person input {
	position: relative;
	left: 260px;
}
#edit_person select {
	position: relative;
	left: 260px;
}
#reset_form label {
	position: absolute;
	text-align: right;
	display: block;
	width: 150px;
}
#reset_form input {
	position: relative;
	left: 160px;
}
#profile_links {
	display: block;
	background: #ffe7a5;
	padding-bottom: 10px;
}
/******** Item Location Editing *******/
#locitemdiv {
	position: relative;
}
.draggable_book {
	float: left;
}
.loc_target {
	list-style: none;
	position: relative;
	clear: left;
	background: #98a1be;
	padding: 10px;
}
.loc_items {
	list-style: none;
	position: relative;
	clear: right;
}
.loc_items span {
	vertical-align: middle;
}
/******** Location Editing **********/
.short_loc {
	position: relative;
	background: #98a1be;
	border: 6px solid #ffe7a5;
	margin-bottom: 6px;
}
.short_loc p {
	font-size: 12pt;
}
.short_loc_list {
	position: absolute;
	top: 10px;
	left: 400px;
	list-style: none;
}
#loc_form label {
	position: absolute;
	text-align: right;
 	display: block;
	width: 150px;
}
#loc_form input {
	position: relative;
	left: 160px;
}
#loc_form select {
	position: relative;
	left: 160px;
}
/*********** Photos section ***********/
#photo_listing {
	position: relative;
	padding: 0;
	margin: 0;
}
#photo_list {
	padding-left: 0;
	margin-left: 0;
}
.photo_list_item {
	position: relative;
	list-style: none;
}
.photo_list_item img {
	width: 240px;
}
.photo_caption {
	position: absolute;
	top: 10px;
	left: 250px;
}
.photo_ops {
	position: absolute;
	top: 30px;
	left: 250px;
}
.prof_edit_links {
	list-style: none;
}
#photo_box {
	position: absolute;
	padding: 0;
	top: 400px;
	left: 300px;
}
#photo_outline {
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	width: 240px;
	height: 360px;
	border: 2px solid red;
	z-index: 10;
}
#photo_block {
	position: absolute;
	left: 0;
	cursor: move;
	z-index: 1;
}
#track {
	width: 200px;
	height: 18px;
	background-image: url('/images/scaler_slider_track.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
#handle {
	width: 18px;
	height: 18px;
	cursor:move;
}
#photo_controls {
	position: absolute;
	z-index: 1000;
	background: #ffe7a5;
}
#photo_controls div {
	float: left;
	padding-right: 10px;
}
/************* Message Section **************/
.message_short {
	background: #98a1be;
	padding: 5px;
	margin: 5px;
	width: 49%;
}
.message_short a {
	text-decoration: none;
	color: #000;
}
.body_short {
	position: relative;
}
.msg_photo {
	float: left;
	margin-right: 10px;
}
.msg_link {
	z-index: 1;
}
.mail_tools {
	position: relative;
	vertical-align: middle;
}
.mail_tools form {
	float: left;
	vertical-align: middle;
	margin-top: 10px;
}
.msg_state {
	float: left;
	margin-top: 12px;
	margin-left: 10px;
}
.msg_info {
	float: left;
}
.msg_subj {
	position: relative;
	clear: both;
	padding-top: 10px;
}
.message_tools form {
	margin: 0;
	padding: 0;
}
.end_button {
	position: relative;
	top: -22px;
	left: 60px;
}
#message_area {
/*	overflow: auto;
	height: 520px;*/
	position: relative;
	left: -40px;
	margin-top: 20px;
}
#message_list {
	list-style: none;
}
.msg_subject {
	font-weight: bold;
}
#message_body {
	width: 90%;
}
#message_body pre {
	font-family: Lucida, serif;
}
#mailbox_list {
	width: 720px;
	padding: 5px;
}
#mailbox_list li {
	list-style: none;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	background: #98a1be;
}
#compose_form {
	padding-top: 5px;
}
#show_message {
	position: relative;
	top: 20px;
	left: 20px;
}
.msg_body {
	background: #fff;
	padding: 5px;
}
.sender_photo {
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 20px;
}
/************* Tracking section ***************/
.results_list {
	list-style: none;
	text-decoration: none;
/*	height: 520px; 
	overflow: auto; */
}
.results_list img {
	width: 80px;
	vertical-align: middle;
}
.results_list a {
	text-decoration: none;
	font-style: normal;
	color: #000;
}
/************** Trip section **************/
#trip_page {
	position: relative;
	margin: 0;
	padding: 0;
	height: 580px;
}
#vacation_list {
	width: 290px;
	height: 580px;
	overflow: auto;
}
#vacation_list ul {
	list-style: none;
	padding: 0;
}
#destination_list li {
	cursor: move;
}
#vacation_map {
/*	position: absolute;
	top: -580px;
	left: 310px; */
	float: right;
	margin-right: 5px;
	height: 227px;
	width: 458px;
	border: 1px solid #633c1f;
	z-index: 1000;
}
#book_image {
	vertical-align: middle;
}
#dest_form {
	padding-bottom: 20px;
}
.dest_li {
	position: relative;
}
.dest_info {
	display: inline;
}
.dest_ops {
	display: inline;
}
.gen_form {
	position: relative;
	left: 50px;
	width: 100%;
}
.gen_form p {
	clear: both;
}
.gen_form label {
	float: left;
	left: 200px;
	width: 180px;
	padding-right: 20px;
	display: block;
	text-align: right;
}
.gen_form p div {
	float: left;
}
