html,body {
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
	margin-top: 0;
	margin-left: 52px;
	margin-bottom: 0;
	background: #394876;
}
h1, h2, h3 {
	margin-left: 10px;
	margin-right: 10px;
}
p, ol, ul, td {
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 5px;
}
img {
	border: 0;
	/* http://www.twinhelix.com/css/iepngfix/ */
	behavior: url(iepngfix.htc);
}
form {
	padding-bottom: 20px;
}
#main_stripe {
	position: relative;
	left: -52px;
	width: 800px;
	background: #ffe7a5;
}
#cfl {
	position: relative;
	top: 35px;
	padding-top: 20px;
	padding-left: 20px;
	background: #ffe7a5;
}
#rsh {
	width: 6px;
	z-index: 100;
}
pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}
.fieldWithErrors {
	float: left;
	padding: 2px;
	background-color: red;
}
#ErrorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
div.uploadStatus {
  margin: 5px;
}
div.progressBar {
  margin: 5px;
}
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
/* ---------------- Layout styles ----------------*/
/***** Flash Box *****/
#float_flash {
	position: absolute;
	z-index: 10000;
	top: 175px;
	left: 300px;
	clear: none;
}
#float_bar {
	width: 276px;
	padding-left: 4px;
	background: url('/images/rndtopyel.png');
}
#float_box {
	float: left;
	width: 274px;
	padding: 2px;
	background: #fff;
	border: 1px solid #633c1f;
	color: green;
}
#flcl {
	position: relative;
	color: #ffd;
	text-decoration: none;
	top: 2px;
	left: 200px;
}
/***** Title Bar *****/
#smlogo {
	position: absolute;
	left: 10px;
	top: 3px;
}
#titlebar {
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
	display: block;
	position:relative;
	top: 20px;
	left: 25px;
	height: 66px;
	width: 756px;
	background: url('/images/topbar2.png');
}
#titlebar a {
	float: left;
	display: block;
	color: #ffe7af;
	text-decoration: none;
	text-align: center;
	text-shadow: #3f2800 3px 3px 2px;
	font-size: 36pt;
	width: 756px;
}
#titlebar strong {
	display: none;
}
/***** Link and Login Bar *****/
#loginbox {
	position: absolute;
	left: 400px;
	color: #ffd;
	display: inline;
}
#loginbox label {
	top: 3px;
	padding-bottom: 3px;
	font-size: 17px;
	display: inline;
}
#loginbox input {
	position: relative;
	top: -1px;
}
#lgnbut {
	position: relative;
	font-family: Optima, Trebuchet, Book Antiqua, verdana, arial, helvetica, sans-serif;
	top: -1px;
}
#linkbar {
	position: relative;
	padding: 3px 0;
	top: 35px;
	background: #394876;
}
#linkbar ul {
	list-style: none;
	text-indent: 0;
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
#linkbar ul li {
	margin-left: 0;
	padding: 3px 15px;
	list-style: none;
	display: inline;
}
#linkbar ul li a {
	display: inline;
	text-decoration: none;
	font-size: 17px;
	width: 100%;
	color: #ffd;
}
#ulog {
	position: relative;
	display: inline;
	width: 100%;
	left: 280px;
	font-size: 14px;
	color: #ffd;
}
#ulog a {
	font-size: 14px;
	color: #ffd;
}
/* --------------------- User home and show --------------- */
/***** USER BOX *****/
#user_box {
	width: 280px;
	margin-bottom: 20px;
}
#welcome_bar {
	width: 276px;
	padding-left: 4px;
	background: url('/images/rndtopsm.png');
	color: #ffd;
}
#info_box {
	position: relative;
	width: 274px;
	height: 203px;
	padding: 2px;
	border: 1px solid #633c1f;
}
#user_photo {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	width: 80px;
	height: 120px;
	z-index: 100;
}
#user_info {
	float: left;
}
#user_info ul {
	list-style: none;
	padding: 0;
	margin-left: 10px;
}
#edit_list {
	clear: both;
	position: relative;
	left: -50px;
	height: 63px;
	width: 281px;
	overflow: auto;
}
#edit_list ul {
	list-style: none;
	left: -60px;
	top: -8px;
}
#edit_list ul li {
	float: left;
	padding-left: 10px;
}
#options_list {
	list-style: none;
}
/****** MAP BOX *******/
#map_box {
	position: absolute;
	top: 20px;
	left: 320px;
	height: 247px;
	width: 458px;
}
#map_bar {
	position: absolute;
	width: 454px;
	padding-left: 4px;
	background: url('/images/rndtopmed.png');
	color: #ffd;
}
#user_map {
	position: absolute;
	top: 19px;
	border: 1px solid #633c1f;
}
/***** BOOK BOX *****/
#book_box {
	position: relative;
	width: 280px;
	height: 200px;
	margin-bottom: 20px;
}
#book_bar {
	width: 276px;
	padding-left: 4px;
	background: url('/images/rndtopsm.png');
	color: #ffd;
}
#book_list {
	overflow: auto;
	top: 0;
	left: 0;
	width: 278px;
	height: 180px;
	border: 1px solid #622c1f;
}
.book_img {
	display: block;
}
.book_caption {
	display: block;
	width: 80px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
#blist {
	list-style: none;
	width: 100%;
	padding: 0;
	margin-left: 0;
}
#blist img {
	position: relative;
	left: 22px;
	border: 0;
	width: 36px;
	height: 50px;
}
#blist li {
	height: 115px;
	float: left;
}
/****** FRIEND BOX *****/
#friend_box {
	position: absolute;
	top: 268px;
	left: 320px;
	width: 458px;
	height: 200px;
}
#friend_bar {
	width: 454px;
	padding-left: 4px;
	background: url('/images/rndtopmed.png');
	color: #ffd;
}
#friend_list {
	overflow: auto;
	width: 456px;
	height: 180px;
	border: 1px solid #633c1f;
}
.friend_caption {
	width: 80px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #000;
}
#flist {
	list-style: none;
	padding: 0;
	margin-left: 20px;
}
#flist img {
	border: 0;
	width: 80px;
	height: 120px;
}
#flist li {
	height: 175px;
	width: 100px;
	float: left;
}
/***** STAT BOX *****/
#stat_box {
	position: relative;
	width: 759px;
	height: 173px;
	margin-bottom: 20px;
}
#stat_bar {
	width: 755px;
	padding-left: 4px;
	background: url('/images/rndtoplg.png');
	color: #ffd;
}
#stat_list {
	overflow: auto;
	top: 0;
	left: 0;
	width: 757px;
	height: 153px;
	border: 1px solid #633c1f;
}
#tb_stats {
	float: left;
	height: 150px;
	width: 280px;
	overflow: auto;
}
#mileage {
	float: left;
	height: 150px;
	width: 445px;
	overflow: auto;
}
.udl {
	list-style: none;
}
/***** FOOTER *****/
#footer {
	position: relative;
	width: 100%;
	text-align: center;
}
#footer_links {
	height: 40px;
	list-style: none;
	display: block;
}
#footer_links li {
	float: left;
	width: 180px;
	padding-right: 5px;
	padding-left: 5px;
}
/***** Friend and Book links *****/
.header_title {
	width: 180px;
}
.right_rlink {
	position: absolute;
	top: 4px;
	left: 348px;
	color: #ffd;
	text-decoration: none;
	font-size: 12px;
}
.left_rlink {
	position: absolute;
	top: 4px;
	margin-left: 55px;
	color: #ffd;
	text-decoration: none;
	font-size: 12px;
}
/***** Friend List *****/
#friend_list_box {
	position: relative;
	height: 580px;
	padding: 0;
	margin: 0;
}
#sflist {
	overflow: auto;
	height: 580px;
	width: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#sflist img {
	border: 0;
}
#friend_map {
/*	position: absolute;
	left: 310px;
	top: -580px; */
	float: right;
	margin-right: 5px;
	width: 458px; 
	height: 578px;
	border: 1px solid #633c1f;
}
.sfriend_image {
	float: left;
}
.sfriend_info {
	display: block;
	height: 120px;
}
.sfriend_address {
	position: relative;
	left: 20px;
	width: 240px;
}
/***** JOIN PAGE *****/
#person_form label {
	display: block;
	float: left;
	padding-right: 10px;
	text-align: right;
	width: 150px;
}
/******** Profile Form section ***********/
#profile_box {
	min-height: 300px;
}
#edit_person p {
	padding-bottom: 10px;
}
.block_list {
	width: 760px;
}
#edit_person label {
	position: absolute;
	text-align: right;
	display: block;
	width: 250px;
}
#edit_person input {
	position: relative;
	left: 260px;
}
#edit_person select {
	position: relative;
	left: 260px;
}
#reset_form label {
	position: absolute;
	text-align: right;
	display: block;
	width: 150px;
}
#reset_form input {
	position: relative;
	left: 160px;
}
#profile_links {
	display: block;
	background: #ffe7a5;
	padding-bottom: 10px;
}
/******** Location Editing **********/
.short_loc {
	position: relative;
	background: #98a1be;
	border: 6px solid #ffe7a5;
	margin-bottom: 6px;
}
.short_loc p {
	font-size: 12pt;
}
.short_loc_list {
	position: absolute;
	top: 10px;
	left: 400px;
	list-style: none;
}
#loc_form label {
	position: absolute;
	text-align: right;
 	display: block;
	width: 150px;
}
#loc_form input {
	position: relative;
	left: 160px;
}
#loc_form select {
	position: relative;
	left: 160px;
}
/*********** Photos section ***********/
#photo_listing {
	position: relative;
	padding: 0;
	margin: 0;
}
#photo_list {
	padding-left: 0;
	margin-left: 0;
}
.photo_list_item {
	position: relative;
	list-style: none;
}
.photo_list_item img {
	width: 240px;
}
.photo_caption {
	position: absolute;
	top: 10px;
	left: 250px;
}
.photo_ops {
	position: absolute;
	top: 30px;
	left: 250px;
}
.prof_edit_links {
	list-style: none;
}
#photo_box {
	position: absolute;
	padding: 0;
	top: 400px;
	left: 300px;
}
#photo_outline {
	position: absolute;
	top: -2px;
	left: -2px;
	display: block;
	width: 240px;
	height: 360px;
	border: 2px solid red;
	z-index: 10;
}
#photo_block {
	position: absolute;
	left: 0;
	cursor: move;
	z-index: 1;
}
#track {
	width: 200px;
	height: 18px;
	background-image: url('/images/scaler_slider_track.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
#handle {
	width: 18px;
	height: 18px;
	cursor:move;
}
#photo_controls {
	position: absolute;
	z-index: 1000;
	background: #ffe7a5;
}
#photo_controls div {
	float: left;
	padding-right: 10px;
}
/************** Item section **************/
#item_list_box {
	position: relative;
	height: 580px;
	padding: 0;
	margin: 0;
}
#book_info_box {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
}
#book_info {
	width:280px;
	height: 580px;
	overflow: auto;
}
#book_info ul {
	list-style: none;
	margin-left: 10px;
}
#book_info img {
	width: 200px;
}
#owner_list img {
	width: 50px;
	height: auto;
}
#item_map {
/*	position: absolute;
	top: -580px;
	left: 310px; */
	float: right;
	margin-right: 5px;
	width: 458px;
	height: 578px;
	border: 1px solid #633c1f;
	z-index: 1000;
}
/************* Message Section **************/
.message_short {
	background: #98a1be;
	padding: 5px;
	margin: 5px;
	width: 49%;
}
.message_short a {
	text-decoration: none;
	color: #000;
}
.body_short {
	position: relative;
}
.msg_photo {
	float: left;
	margin-right: 10px;
}
.msg_link {
	z-index: 1;
}
.mail_tools {
	position: relative;
	vertical-align: middle;
}
.mail_tools form {
	float: left;
	vertical-align: middle;
	margin-top: 10px;
}
.msg_state {
	float: left;
	margin-top: 12px;
	margin-left: 10px;
}
.msg_info {
	float: left;
}
.msg_subj {
	position: relative;
	clear: both;
	padding-top: 10px;
}
.message_tools form {
	margin: 0;
	padding: 0;
}
.end_button {
	position: relative;
	top: -22px;
	left: 60px;
}
#message_area {
/*	overflow: auto;
	height: 520px;*/
	position: relative;
	left: -40px;
	margin-top: 20px;
}
#message_list {
	list-style: none;
}
.msg_subject {
	font-weight: bold;
}
#message_body {
	width: 90%;
}
#message_body pre {
	font-family: Lucida, serif;
}
#mailbox_list {
	width: 720px;
	padding: 5px;
}
#mailbox_list li {
	list-style: none;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	background: #98a1be;
}
#compose_form {
	padding-top: 5px;
}
#show_message {
	position: relative;
	top: 20px;
	left: 20px;
}
.msg_body {
	background: #fff;
	padding: 5px;
}
.sender_photo {
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 20px;
}
/************* Tracking section ***************/
.results_list {
	list-style: none;
	text-decoration: none;
	height: 520px;
	overflow: auto;
}
.results_list img {
	width: 80px;
	vertical-align: middle;
}
.results_list a {
	text-decoration: none;
	font-style: normal;
	color: #000;
}
/************** Trip section **************/
#trip_page {
	position: relative;
	margin: 0;
	padding: 0;
	height: 580px;
}
#vacation_list {
	width: 290px;
	height: 580px;
	overflow: auto;
}
#vacation_list ul {
	list-style: none;
	padding: 0;
}
#destination_list li {
	cursor: move;
}
#vacation_map {
/*	position: absolute;
	top: -580px;
	left: 310px; */
	float: right;
	margin-right: 5px;
	height: 227px;
	width: 458px;
	border: 1px solid #633c1f;
	z-index: 1000;
}
#book_image {
	vertical-align: middle;
}
#dest_form {
	padding-bottom: 20px;
}
.dest_li {
	position: relative;
}
.dest_info {
	display: inline;
}
.dest_ops {
	display: inline;
}
.gen_form {
	position: relative;
	left: 50px;
	width: 100%;
}
.gen_form p {
	clear: both;
}
.gen_form label {
	float: left;
	left: 200px;
	width: 180px;
	padding-right: 20px;
	display: block;
	text-align: right;
}
.gen_form p div {
	float: left;
}
/************ Admin section **************/
.blink {
	float: left;
	border: 1px solid black;
}
#along_list {
	list-style: none;
}
.abook {
	padding-bottom: 5px;
	height: 50px;
}
