/* --------------------- User home and show --------------- */
/***** USER BOX *****/
#user_box {
	margin-bottom: 1em;
}
#welcome_bar {
	padding-left: 1em;
	background-image: url('/images/rndtop124.png');
	background-repeat: repeat-x;
	color: #ffd;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#info_box {
/*	position: relative;
	height: 181px; */
	height: 154px;
	padding: 1em;
	border: 1px solid #633c1f;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#user_photo {
	float: left;
	width: 80px;
	height: 120px;
	z-index: 100;
	margin-bottom: 1em;
}
#user_info {
	float: left;
}
#user_info ul {
	list-style: none;
	padding: 0;
	margin-left: 10px;
}
#edit_list {
	clear: both;
	overflow: auto;
}
#edit_list ul {
	list-style: none;
}
#edit_list ul li {
	float: left;
	padding-left: 10px;
}
#options_list {
	list-style: none;
}
/****** MAP BOX *******/
#map_box {
/*	top: 20px;
	height: 247px;*/
}
#map_bar {
	padding-left: 1em;
	padding-right: 1em;
	background-image: url('/images/rndtop124.png');
	background-repeat: repeat-x;
	color: #ffd;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#user_map {
	height: 446px;
	border: 1px solid #633c1f;
/*	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;*/
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
/***** BOOK BOX *****/
#book_box {
/*	position: relative;*/
	height: 200px;
	margin-bottom: 1em;
}
#book_bar {
	padding-left: 1em;
	padding-right: 1em;
	background-image: url('/images/rndtop124.png');
	background-repeat: repeat-x;
	color: #ffd;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#book_list {
	overflow: auto;
/*	top: 0; */
	height: 180px;
	border: 1px solid #622c1f;
	padding-left: 1em;
	-webkit-border-bottom-left-radius: 10px;
/*	-webkit-border-bottom-right-radius: 10px;*/
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
.book_img {
	display: block;
}
.book_caption {
	display: block;
	width: 80px;
	text-align: center;
	text-decoration: none;
	color: #000;
}
#blist {
	list-style: none;
	padding-top: 1em;
}
#blist img {
	position: relative;
	left: 1.7em;
	border: 0;
	width: 36px;
	height: 50px;
}
#blist li {
	height: 115px; 
	float: left;
}
/****** FRIEND BOX *****/
#friend_box {
	height: 200px;
}
#friend_bar {
	padding-left: 1em;
	padding-right: 1em;
	background-image: url('/images/rndtop124.png');
	background-repeat: repeat-x;
	color: #ffd;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#friend_list {
	overflow: auto;
	height: 180px;
	border: 1px solid #633c1f;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
.friend_caption {
	width: 80px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #000;
}
#flist {
	list-style: none;
	padding: 1em;
}
#flist img {
	border: 0;
	width: 80px;
	height: 120px;
}
#flist li {
	height: 175px;
	width: 100px;
	float: left;
}
/***** STAT BOX *****/
#stat_box {
/*	position: relative; */
/*	height: 220px;*/
}
#stat_bar {
	padding-left: 1em;
	padding-right: 1em;
	background-image: url('/images/rndtop124.png');
	background-repeat: repeat-x;
	color: #ffd;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#stat_list {
	overflow: auto;
	top: 0;
	height: 220px;
	padding-left: 1em;
	padding-top: 1em;
	border: 1px solid #633c1f;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#tb_stats {
	float: left;
	overflow: auto;
	padding-right: 1em;
}
#mileage {
	float: left;
	overflow: auto;
}
.udl {
	list-style: none;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
}
/***** Friend and Book links *****/
.header_title {
}
.right_rlink {
	top: 5px;
	float: right;
	color: #ffd;
	text-decoration: none;
	font-size: 93%;
}
.left_rlink {
	top: 5px;
	float: right;
	color: #ffd;
	text-decoration: none;
	font-size: 93%;
}
/***** Friend List *****/
#friend_list_box {
/*	position: relative;
	height: 580px;
	padding: 0;
	margin: 0;*/
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
#friend_map {
/*	float: right;
	margin-right: 5px;*/
	height: 592px;
/*	border: 1px solid #633c1f;*/
	z-index: 1000;
	-webkit-box-shadow: 2px 2px 4px #633c1f;
}
/******** Profile Form section ***********/
#profile_box {
	min-height: 300px;
}
#profile_box label {
	margin-top: 1em;
}
#profile_box input {
	margin-top: 1em;
}
#edit_person p {
	padding-bottom: 10px;
}
.block_list {
	width: 760px;
}
#edit_person label {
	position: absolute;
	text-align: right;
	display: block;
	width: 250px;
}
#edit_person input {
	position: relative;
	left: 260px;
}
#edit_person select {
	position: relative;
	left: 260px;
}
#reset_form label {
	position: absolute;
	text-align: right;
	display: block;
	width: 150px;
}
#reset_form input {
	position: relative;
	left: 160px;
}
#profile_links {
	display: block;
	background: #ffe7a5;
	padding-bottom: 10px;
}