<%= error_messages_for 'photo' %>

<!--[form:photo]-->
<p><label for="photo_file">Photo</label>
<%= file_field 'photo', 'data' %></p>

<p><label for="photo_caption">Caption</label>
<%= text_field 'photo', 'caption' %></p>

<p><label for="photo_is_primary?">Make this my main photo</label>
	<%= check_box 'photo', 'is_primary?' %></p>

<!--[eoform:photo]-->
