<h1>Edit your photos</h1>
<p class="message"><%= @message unless (@message.nil? || @message.length <= 1) %></p>
<div id="photo_editing_list">
	<ul id="photo_list">
		<%= render :partial => 'photo', :collection => @photos %>
	</ul>
</div>

<%= link_to "Upload a photo", :action => 'new' %>