<h1>Edit photo details</h1>
<div id="photo_details" class="yui-gd">
	<%= form_for @photo, :url => {:action => 'update'} do |f| %>
		<%= render :partial => 'details', :object => @photo, :locals => {:f => f} %>
			<%= f.submit 'Update' %>
		</div>
	<% end %>
</div>