<h1>Edit Your Public Profile</h1>
<%= render :partial => 'profile_links'%>
<div id="profile_box">
	<%= form_for @person, :url => {:action => 'update', :id => @person} do %>
	  <div id="edit_person">
	    <%= render :partial => 'form', :object => @person %>
	    <%= submit_tag 'Update' %>
	  </div>
	<% end %>
</div>