<p class="separated large">You need to log in by typing your email address and password into the boxes above. Once you log in, you can access your account, which will show you the TravellerBooks you have given to friends and travellers, as well as any books you have received from your friends.</p>

<p class="separated large">If you do not have an account, you will need to create one before you can use the full features of TravellerBook.com. It's fast and easy to create an account, just click the link. <%= link_to "Create an Account", :action => 'join' %></p>

<p class="separated large">If you have forgotten your login name or password, you can retrieve it. <%= link_to "I forgot my login or password", :action => 'retrieve' %></p>