<h3>TravellerBooks Store coming soon!</h3>
<hr />
<p>Our TravellerBook store is currently under construction. However you can buy TravellerBook.com merchandise from our Cafe Press store <%= link_to "here", "http://www.cafepress.com/travellerbook" %>.</p>

<p>In the mean time, if you'd like a new TravellerBook, send a message to Bart and ask for one.</p>
