<h3>Welcome to the TravellerBooks store</h3>
<hr>
<table id="sale_items">
<tr><th>Item</th><th>Description</th><th>Price</th></tr>
<%= render(:partial => "sale_items", :collection => @items) %>
</table>
