<h1>New Sale Item</h1>

<%= form_for @sale_item, :url => {:action => 'create'} do |f| %>
	<%= render :partial => 'form', :object => @sale_item, :locals => {:f => f} %>
	<%= f.submit "Create Sale Item" %>
<% end %>