<%= error_messages_for 'trip' %>

<!--[form:trip]-->
<p><label for="trip_name">Name/Description</label>
<%= text_field 'trip', 'name' %></p>

<p><label for="trip_start_date">Start Date</label>
	<%= date_select 'trip', 'start_date' %></p>
	
<p><label for="trip_end_date">End Date</label>
	<%= date_select 'trip', 'end_date' %></p>
	
<!--[eoform:trip]-->
