<h1><%= @person.display_name %>'s Travel Logs</h1>

<div id="trip_page" class="yui-gd">
	<div id="vacation_list" class="yui-u first">
		<%= button_to 'Add a trip', :action => 'new' %>
		<ul>
			<%= render :partial => 'trip', :collection => @trips %>
		</ul>
	</div>
	<%= @map.div :class => 'yui-u' %>
</div>
