<h1><%= @person.display_name %>'s Trip Logs</h1>

<%= link_to 'Add a trip log', :action => 'new' %>
<div id="vacation_list">
	<ul>
		<%= render :partial => 'trip', :collection => @trips %>
	</ul>
</div>
<%= @map.div(:width => 458, :height => 458) %>