<li class="fw"><p>You haven't added any friends yet. You can add friends here by <%= link_to "searching for TravellerBook.com users", :controller => 'track', :action => 'search' %> or by <%= link_to "inviting your friends to join", :controller => 'user', :action => 'invite' %>.</p>
</li>
