<%= error_messages_for 'person' %>

<!--[form:person]-->
<p><label for="person_nickname">Display Name</label>
	<%= text_field 'person', 'nickname' %></p>
	
<p><label for="person_share_trips">Allow others to see my trips</label>
	<%= check_box 'person', 'share_trips', {}, 'Yes', 'No' %></p>

<p><label for="person_email">Email Address</label>
	<%= text_field 'person', 'email'  %></p>

<!--[eoform:person]-->

