<li><%= link_to( 
			"<img src='/item/image/#{item.id}' alt='#{item.name}'>",
	 		{ :action => 'show', 
		      :controller => 'item', 
		      :id => item.id }, {:class => 'book_img'} ) %>
	<%= link_to item.name, {:action => 'show', :controller => 'item', :id => item.id}, {:class => 'book_caption'}%>
</li>
