<li class="loc_target">
	<p><%= h loc_targets.description %></p>
	<ul class="loc_items">
		<% loc_items[loc_targets.id].each do |item| %>
		<%= render :partial => 'drag_item', :object => item %>
		<% end unless loc_items[loc_targets.id].nil? %>
	</ul>
</li>