<div id="tb_stats">
	<h3>TravellerBook Personal Stats</h3>
	<ul class="udl">
		<li>Books Given: <%= h(user_stats.items_given.length) %></li>
		<li>Books Received: <%= h(user_stats.items_received.length) %></li>
		<li>Trips Taken: <%= h(user_stats.trips.length) %></li>
		<li>Countries Visited: <%= h(user_stats.statistics.countries_visited) %></li>
		
	</ul>
</div>
<%= link_to_remote image_tag("help.png"), :url => {:controller => 'help', :action => 'stats'} %>