<h1>Add a friend</h1>

<%= image_tag "#{@friend.main_photo.url}", :class => "main_photo", :size => "80x120" %>
<p>A message will be sent to <%= @friend.display_name %>. Go ahead?</p>
<%= form_tag :action => 'send_request' %>
<%= hidden_field_tag 'id', @person.id %>
<%= hidden_field_tag 'friend_id', @friend.id %>
<%= submit_tag 'Confirm' %>
<%= submit_tag 'Cancel' %>
</form>
