<h1>Editing Profile</h1>

<p>Your personal info</p>
<% form_tag :action => 'update', :id => @person do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update' %>
<% end %>

<%= link_to 'View Profile', :action => 'show', :id => @person %> |
<%= link_to 'Home', :action => 'home' %>
