<h1>Edit Your Public Profile</h1>

<% form_tag :url => {:action => 'update', :id => @person} do %>
  <div id="edit_person">
    <%= render :partial => 'form', :object => @person %>
    <%= submit_tag 'Update' %>
  </div>
<% end %>

<%= link_to "Edit my Photos", :action => "edit", :controller => 'photo', :id => @person.id %> |
<%= link_to "Edit my Locations", :action => "list", :controller => 'location', :id => @person.id %> | 
<%= link_to 'Home', :action => 'home' %>
