<h1>Password reset</h1>

<p>An email has been sent to <%= @person.email %> for the account: "<%= h @person.login %>". A temporary password has been set on your account. If you are having problems with your account, please contact <%= mail_to 'support@travellerbook.com' %>.