<h1>Password reset</h1>

<p>An email has been sent to <%= @person.email %> for your account. A temporary password has been set on your account. If you are having problems with your account, please contact <%= mail_to 'support@travellerbook.com' %>.</p>

<p>If you don't receive the email containing your temporary password in a timely manner, please check to make sure it doesn't end up in your Junk Mail or Spam folder.</p>