<h1>Move Your TravellerBooks</h1>
<div id="ubl">
	<p>Use this page to move TravellerBooks from one location to another. Simply drag a book from one location to another. You can change the current location of a book on this page. If you have taken a book with you on a trip, you can add the book to a trip in the <%= link_to "Trip Editing", :controller => 'trip', :action => 'list' %> page.</p>
	<ul id="locations_items_list">
		<%= render :partial => 'loc_targets', :collection => @locations, :locals => {:items => @items} %>
	</ul>
</div>