<p class="separated">To reset your password, enter your email address (the one you entered when you created your account.)</p>
<%= form_tag :action => 'iforgot' %>
	<label for='email'>Email Address:
		<%= text_field 'retrieve', 'email_address'%>
	</label>
	<%= %>
	<%= submit_tag "Enter" %>
</form>