<h1>Edit Location Info</h1>

<% form_for :location, @location, :url => {:action => 'update'} do |f| %>
	<%= render :partial => 'form' %>
	<%= f.submit %>
<% end %>

<%= link_to 'Back to List', :action => 'list', :id => @person %> |
<%= link_to 'Home', :action => 'home' %>
