<h1>Sale Item Admin</h1>
<%= link_to 'Add Sale Item', :action => 'new' %>
<table id="item_list">
	<thead>
		<tr><th>Name</th><th>Description</th><th>Price</th><th>Qty</th><th>Sale?</th><th>Sale Price</th><th>Category</th><th colspan="3">Tools</th></tr>
	</thead>
	<tbody>
	<%= render :partial => 'sale_item', :collection => @items %>
	</tbody>
</table>
<%= render :partial => 'admin/admin_links' %>