<p>Hello, this email has been sent from TravellerBook.com regarding your user account. Your password has been reset. Your new, temporary password is "<%= @temp_pass %>". Log in at http://www.TravellerBook.com with your email address (the one this message was sent to) and your temporary password (do not type the quotes). After you login, you will be asked to change your password. </p>

<p>You can log in by clicking this link: <%= link_to "TravellerBook.com Login Page", :host => 'www.travellerbook.com', :controller => 'user', :action => 'login' %></p>

<p>Thanks, and enjoy sending and tracking your TravellerBooks!</p>
