<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Main: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>

</head>
<body>
<div id="titlebar">
	<a href="http://www.travellerbook.com"><strong>TravellerBook.com - Give a little bit of the world</strong></a>
</div>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
