<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>User: <%= controller.action_name %></title>
  <%= javascript_include_tag :defaults %>
  <%= ymap_js_tag %>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'traffic' %>
  <%= ymap_div_style(600, 400) %>
  <%= GMap.header(:with_vml => false) %>
  <%= @map.to_html if controller.action_name == :home %>
</head>
<body>
	<div id="titlebar">
		<a href="http://www.travellerbook.com"><strong>TravellerBook.com - Give a little bit of the world</strong></a>
	</div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
