<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Main: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'main' %>
	<%= javascript_include_tag :defaults %>
	<%= Mapstraction.header(:yahoo) %>
	<%= @map.to_html unless @map.nil? %>
</head>
<body id="user">
	<div id="main_stripe">
		<%= render :partial => "main/titlebar" %>
		<div id="linkbar">
			<%= render :partial => "main/toplinks" %>
		</div>
		
		<div id="cfl">
			<p style="padding-top: 10px;color: green"><%= flash[:notice] %></p>
			<%= @content_for_layout %>
		</div>
	</div>
	<%= image_tag("rsh.png", {:id => 'rsh'}) %>
</body>
</html>
